[Unit]
Description={{description}}
After=network.target

[Service]
Type=simple
User={{user}}
ExecStart=/usr/bin/node {{main}}
WorkingDirectory={{workingDirectory}}
Restart={{restart}}
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{name}}
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target