[Unit]
Description={{description}}
After=network.target

[Service]
Type=simple
User={{user}}
Group={{group}}
ExecStart=/usr/bin/node /{{entryPoint}}
WorkingDirectory={{workingDirectory}}
Restart={{restart}}
RestartSec={{restartSec}}
Environment=NODE_ENV=production
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target